.b {color:blue !important;}
.c {color:cyan !important;}
.cfb {color:cornflowerblue !important;}
.lc {color:mediumturquoise !important;font-weight: 600;}
.g{color:green!important;}
.gr{color:goldenrod !important}
.l {color:lime !important;}
.m {color:magenta !important;}
.o{color:orange !important;}
.do{color:darkorange !important;font-weight: 600;}
.r{color:red !important}

.yb2 {border: 2px solid yellow !important;}