.sm-txt {font-size: .9rem;}
.xsm-txt {font-size: .75rem;}
.xxsm-txt {font-size: .5rem;}

.code-container > pre.copy-code{
    font-size: .85rem;   
    padding: 2.5% 10%;
    padding-left: 2.5%;
    display: inline-block;
}